{% extends 'base.html.twig' %}
 {% block content %}
     <div id="slides-shop" class="cover-slides">
         <ul class="slides-container">
             <li class="text-center">
                 <img src="{{ asset('vendor/images/designe.jpg')}}" alt="">
                 <div class="container">
                     <div class="row">
                         <div class="col-md-12">
                             <h1 class="m-b-20"><strong>Welcome To <br> Freesia</strong></h1>
                             <p class="m-b-40">Create Your Own Garden</p>
                             <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                         </div>
                     </div>
                 </div>
             </li>
             <li class="text-center">
                 <img src="{{ asset('vendor/images/1.jpg')}}" alt="">
                 <div class="container">
                     <div class="row">
                         <div class="col-md-12">
                             <h1 class="m-b-20"><strong>Welcome To <br> Freesia</strong></h1>
                             <p class="m-b-40">Create Your Own Garden</p>
                             <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                         </div>
                     </div>
                 </div>
             </li>
             <li class="text-center">
                 <img src="{{ asset('vendor/images/2.jpg')}}" alt="">
                 <div class="container">
                     <div class="row">
                         <div class="col-md-12">
                             <h1 class="m-b-20"><strong>Welcome To <br> Freesia</strong></h1>
                             <p class="m-b-40">Create Your Own Garden</p>
                             <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                         </div>
                     </div>
                 </div>
             </li>
         </ul>
         <div class="slides-navigation">
             <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
             <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
         </div>
     </div>


     <br>    <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>
     bhfcvsdqjvnjklsqvnjklsqjknh
     <br>  <br>    <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>
 {% endblock %}