
{% extends 'base1.html.twig' %}

            {% block content %}



                <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Affichage Category Produit
                        </h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>


                                <th>IdCategory</th>
                                <th>Libelle Produit</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for i in categorys %}
                                <tr>

                                    <td>{{ i.IdCategoryProd}}</td>
                                    <td>{{ i.LibelleProd}}</td>


                                    <td><a href="{{ path('Categprod_delete',{'IdCategoryProd':i.IdCategoryProd}) }}">
                                            <button type="button" class="btn btn-danger">
                                                <i class="fas fa-minus-circle"></i> Delete
                                            </button></a></td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->




            {% endblock %}